@import "../../../styles/settings.scss";

.root {
  padding: $base-size ($base-size * 3);
  margin: $base-size * 2;
  border: 1px solid $grey;
  border-radius: 20px;
  box-shadow: 0 0 30px $grey;

  .header {
    margin: ($base-size * 2) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $primary;

    h1 {
      margin: 0;
    }

    .button {
      color: inherit;
      text-decoration: none;

      &:hover {
        background: lighten($secondary, 50%);
        transition: $transition;
      }
    }
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    padding: ($base-size * 2) 0;

    .postImage {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .postText {
      flex: 2;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5;
      margin: 0 ($base-size * 3);
      color: $grey;
      font-size: 20px;

      h2 {
        margin: 0;
      }
    }

    .postInfo {
      flex: 1;
      text-align: right;
      color: $primary;
      
      .price {
        margin: 0;
        padding: ($base-size / 4) ($base-size / 2);
        text-transform: uppercase;
        color: $white;
        background: $primary;
        border-radius: 5px;
      }

      .contactDetails {
        margin: ($base-size) 0;
        padding: ($base-size / 4) ($base-size / 2);
        background: lighten($primary, 50%);
        border-radius: 5px;
        line-height: 1.7;
        text-align: right;
        
        h3 {
        margin: auto;
        padding-bottom: $base-size;

          a {
            text-decoration: none;
            color: $primary;

            &:hover {
              color: $black;
              transition: $transition;
            }
          }
        }
      }

      .postData {
        padding: ($base-size / 4) ($base-size / 2);
        background: lighten($primary, 50%);
        border-radius: 5px;
        line-height: 1.2;
        font-size: $base-size;

        p {
          margin: 0;
        }
      }
    }
  }
}