@import '../../../styles/settings.scss';

.root {
    text-transform: uppercase;
  
    .toolbar {
      justify-content: space-between;
      background-color: $primary;
  
      .logo:hover {
        color: $primary;
        background: $white;
        transition: $transition;
      }
  
      .userStatus {
        min-width: 150px;
        margin: $base-size 0;
        color: $white;
      }

      .userInput, .MenuItem {
        color: $white;
      }
  
      .postsButton {
        min-width: 100px;
      }
  
      .button:hover {
        text-decoration: none;
        color: $primary;
        background: $white;
        transition: $transition;
        border: 1px solid $white;
      }
    }

    @media (max-width: 767px) {
      .toolbar {
        flex-direction: column;
        height: 250px;
      }
  
      .userStatus {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80px;
      }
  
      .postsButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
      }

      .loginButton {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
      }
    }
  }