@import '../../../styles/settings.scss';

.root {
  padding: $base-size ($base-size * 3);
  
  .header {
    text-transform: uppercase;
    color: $primary;
    padding: $base-size;
    text-align: center;
  }
  
  .button {
    color: inherit;
    text-decoration: none;
    min-width: 100px;
    margin-top: 20px;
    display: inline-block;
  
    &:hover {
      background: lighten($secondary, 50%);
      transition: $transition;
      text-decoration: none;
    }
  }
}